.MMM-RedditDisplay { /* MMM-RedditDisplay module wrapper */
  position: fixed;
  background-color: green;
  vertical-align: middle;
  width: 100%;
  margin-right: ;
  margin-top: 200px;
  margin-left: ;
  margin-right: ;
}
.MMM-RedditDisplay .module-header{ /* Module header (e.g., New Posts From R/...) */
  background-color: blue;
  vertical-align: middle;
  margin-right: ;
  margin-top: ;
  margin-left: ;
  margin-right: ;
  font-size: 25px;
  color: #fff;
  font-style: bold;
}
.MMM-RedditDisplay .post-row{ /* MMM-RedditDisplay module content area */
  background-color: purple;
  vertical-align: middle; /* Aligns the post text with the image */
  margin-right: ;
  margin-top: ;
  margin-left: ;
  margin-right: ;
 }
.MMM-RedditDisplay .rank{ /* post's # rank field */
  background-color: black;
  /* margin's control spacing between each post data */
  margin-right: 5px;
  margin-top: ;
  margin-left: ;
  margin-right: ;
  font-size: 20px;
  color: #fff;
  font-style: italic;
}
.MMM-RedditDisplay .score{ /* post's score field */
  background-color: yellow;
  /* margin's control spacing between each post data */
  margin-right: 5px;
  margin-top: ;
  margin-left: ;
  margin-right: ;
  font-size: 20px;
  color: #fff;
  font-style: italic;
}
.MMM-RedditDisplay .feature-image{ /* post's image/thumbnail field */
  background-color: yellow;
  /* margin's control spacing between each post data */
  max-height: var(--max-image-height, 200px); /* If size is not set in main config CSS will default to 200px */
  width: auto;
  margin-right: 5px;
  margin-top: ;
  margin-left: ;
  margin-right: ;
}
.MMM-RedditDisplay .title{ /* post title field */
  background-color: orange;
  /* margin's control spacing between each post data */
  margin-right: 5px;
  margin-top: ;
  margin-left: ;
  margin-right: ;
  font-size: 20px;
  color: #fff;
  font-style: italic;
  word-wrap: break-word; /* Allow long titles to wrap */
}
.MMM-RedditDisplay .comments{ /* post's number of comments field */
  background-color: grey;
  /* margin's control spacing between each post data */
  margin-right: 5px;
  margin-top: ;
  margin-left: ;
  margin-right: ;
  font-size: 20px;
  color: #fff;
  font-style: italic;
}
